<header>
    <!-- <ul class="nav flex-column">
         <li class="nav-item">
           <a class="nav-link active" href="../index.ejs">HOME</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../explorer.ejs">Explorar</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="../more.ejs">Mais</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" href="../posts.ejs">Mensagens</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../profile.ejs">Perfil</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="../alerts.ejs">Alertas</a>
           </li>
         <li class="nav-item">
           <a class="nav-link" href="../savedItems.ejs">Itens Salvos</a>
         </li>
       </ul>
 -->
 <ul class="nav nav-pills">
    
 
     <li class="nav-item">
         <a class="nav-link active" href="/">HOME</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/blog">BLOG</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/categories">CATEGORIAS</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="/chat">MANDE MENSAGENS</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/conectUs">ENTRE EM CONTATO</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/explorer">EXPLORAR</a>
         </li>
       <li class="nav-item">
         <a class="nav-link" href="/highlights">DESTAQUES</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="/login">CRIE SUA CONTA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">EDITE SEU PERFIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/savedItens">ITENS SALVOS</a>
      </li>
   </ul>
 
 </header>